@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;400;600&family=Overpass:wght@100;300;400;700&family=Roboto:wght@100;300&family=Sarala:wght@400;700&display=swap');
.content {
  height: 100%;
  width: 100%;
  margin-left: 4vw;
}
.app {
  height: 100%;
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.login-box {
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  /*Adding the shadow*/
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.login-box input {
  width: 100%;
  border-radius:4px;
  border: 1px solid rgba(255, 255, 255, 0.25);
 backdrop-filter: blur(50px);
}
@keyframes MoveFromTop {
  0% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(500px);
  }
}
.ql-editor {
  font-size: 20px; 
}